apiVersion: batch/v1
kind: Job
metadata:
  generateName: s2893001-train-composite-
  labels:
    kueue.x-k8s.io/queue-name: eidf029ns-user-queue
    eidf/user: s2893001-infk8s
spec:
  parallelism: 10 # Only 4 GPUs used at once
  completions: $TOTAL_EXP # Total 100 experiments
  completionMode: Indexed # This enables the JOB_COMPLETION_INDEX
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: patch-wise-pc
          image: chbricout/patch-wise-pc:latest
          command:
            - sh
            - -c
            - >
              cd /code/patch-wise-pc;
              mkdir experiments/$EXP;
              ls -l -a -h datasets;
              python3 cli.py  run-exp-kube
          resources:
            requests:
              cpu: 4
              memory: "128Gi"
            limits:
              cpu: 4
              memory: "128Gi"
              nvidia.com/gpu: 1
          volumeMounts:
            - mountPath: /code
              name: github-code
            - mountPath: /code/patch-wise-pc/datasets
              name: dataset
            - mountPath: /code/patch-wise-pc/experiments
              name: output
      initContainers:
        - name: lightweight-git-container
          image: cicirello/alpine-plus-plus
          command:
            - sh
            - -c
            - >
              cd /code;
              git clone https://github.com/chbricout/patch-wise-pc.git;
              mv experiments fixed_experiments;
              chown -R 1001:1001 /code/patch-wise-pc
          resources:
            requests:
              cpu: 1
              memory: "4Gi"
            limits:
              cpu: 1
              memory: "8Gi"
          volumeMounts:
            - mountPath: /code
              name: github-code
      volumes:
        - name: dataset
          persistentVolumeClaim:
            claimName: s2893001-computer-vision-dataset
        - name: output
          persistentVolumeClaim:
            claimName: s2893001-patch-wise-output
        - name: github-code
          emptyDir:
            sizeLimit: 20Gi
